body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
section header ul li button{
    background-color: hsl(218, 84%, 60%);
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}
section .main{
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .box{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .box:hover{
    position: relative;
    width: 100%;
    margin-top: 20px;
    
}
section .main .box .search{
    width: 88%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    
}
section .main .box .search:hover{
    box-shadow: #555;
    background-origin: padding-box;
}
section .main .box .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
section .main .buttons button{
    margin: 20px 5px;
    padding: 10px 20px;
    color: #555;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px solid;
    outline: none;
}
section .main .buttons button:hover{
    color: #555;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: 1px solid #4382ef;
}
section .main .lang{
    margin-top: 20px;
}

section .footer{
    position: absolute;
    bottom: -230px;
    left: 0;
    right: 0;
    width: 100%;
    background: #f2f2f2;
}
section .footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
section .footer .row ul{
    display: flex;
}
section .footer .row ul li{
    list-style: none;
}
section .footer .row ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
}

/* mobile view */
@media (max-width: 768px){
    section .main .box .search{
        width: 78%;
    }
    section .main .box .icons{
        width: 89%;
    }
    section .footer .row ul{
        display: block;
    }
    section header ul li button{
        background-color: rgb(10, 148, 148);
    }
}
    